.content-wrapper-rooms{
    margin: 5vh;
}

.room-button{
    font-size: xx-large;
    position: relative;

    background: url("../images/meeting-room.png");
    background-size:44vh;
    background-color: transparent;
    color: black;
    text-align: center;
    font-weight: bolder;
    border: solid black;
    cursor: pointer;
    min-width: 30vh;
    min-height: 20vh;

}


.green-background{
    background-color: lightgreen;
}

.red-background{
    background-color: red;
}

.room-info{
    font-size: small;
    position: absolute;
    top: -30px; /* Adjust the distance from the button */
    left: 50%;
    transform: translate(50%);

    background-color: grey;
    color: #fff;
    padding: 10px;
    border: solid black;
    border-radius: 20px;
    opacity: 0;
    visibility: visible;
    transition: opacity 0.3s;
}
.room-button:hover .room-info{
    opacity: 1;
    visibility: visible;
}
