.content-wrapper{
    margin-right: 10%;
    display: grid;
    flex-grow: 1;
    padding: 20px;
    clear: both;
}

.content-wrapper h1{
    margin-left: 5vh; 
    margin-top: 3vh;
    color: darkblue;
}

.date-time-picker{
    margin-top: 2vh;
    margin-left: 5vh; 
    grid-template-rows: auto auto auto;
    
}

.timepicker{
    width: fit-content;
}

.datepicker{
    width: fit-content;
}