
/* Sidebar Styles */
.sidebar {
    width: 25%;
    height: 100vh;
    background-color: lightsalmon;
    color: black;
    padding-top: 20px;
    transition: width 0.3s; /* Add a smooth transition effect on width change */
    box-shadow: 0 4px 8px rgba(124, 85, 85, 0.1); /* Add a subtle shadow for depth */
  }
  
  
  /* Sidebar Links */
  .sidebar .sidebar-links {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: black;
    transition: background-color 0.3s; /* Add a smooth transition effect on background color change */
    
  }
  
  .sidebar a{
    text-decoration: none;
    
  }
  /* Change the color and add a hover effect */
  .sidebar .sidebar-links:hover {
    background-color: lightblue;
  }
  
  /* Main Content */
  .main-content {
    margin-left: 250px;
    padding: 20px;
  }
  